spring.application.name=basics

# H2 Datenbank-Konfiguration
# 1. Die Adresse (URL), unter der Spring die Datenbank im RAM erstellt
spring.datasource.url=jdbc:h2:mem:testdb
# 2. Der Java-Treiber, der die Übersetzungsarbeit zwischen Java und H2 macht
spring.datasource.driverClassName=org.h2.Driver
# 3. Zugangsdaten für die Datenbank (für lokale Tests reichen Standardwerte)
spring.datasource.username=sa
spring.datasource.password=
# 4. Der "Dialekt" für SQL
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

# Zeigt die H2-Web-Konsole unter /h2-console an
# 5. Schaltet eine grafische Oberfläche im Browser frei
spring.h2.console.enabled=true

# Erstellt/aktualisiert die Datenbanktabellen automatisch aus deinen Java-Klassen
# 6. Automatisches Erstellen der Tabellen
spring.jpa.hibernate.ddl-auto=update

# loggin timeout 15 minutes
server.servlet.session.timeout=15m

# Sagt Spring Boot, dass es Proxy-Header wie CF-Connecting-IP oder X-Forwarded-For verarbeiten darf
server.forward-headers-strategy=native


# E-Mail-Versand (IONOS / online.de)
spring.mail.host=smtp.ionos.de
spring.mail.port=587
spring.mail.username=${MAIL_USERNAME}
spring.mail.password=${MAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# Zieladresse für B2B-Anfragen
app.mail.target-address=${MAIL_TARGET}